<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @invoice.customer_id %>
</p>

<p>
  <b>Number:</b>
  <%= @invoice.number %>
</p>

<p>
  <b>Contact:</b>
  <%= @invoice.contact_id %>
</p>

<p>
  <b>Paid:</b>
  <%= @invoice.paid %>
</p>

<p>
  <b>Due on:</b>
  <%= @invoice.due_on %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
