<%= form_for(@invoice_item_service) do |f| %>
  <% if @invoice_item_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_item_service.errors.count, "error") %> prohibited this invoice_item_service from being saved:</h2>

      <ul>
      <% @invoice_item_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_id %><br />
    <%= f.text_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :hourly_wage %><br />
    <%= f.text_field :hourly_wage %>
  </div>
  <div class="field">
    <%= f.label :vat %><br />
    <%= f.text_field :vat %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br />
    <%= f.datetime_select :ended_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
