<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Street</th>
    <th>Post code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.customer_id %></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.street %></td>
    <td><%= contact.post_code %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
