<h1>Listing invoicing_parties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Co line</th>
    <th>Street</th>
    <th>Post code</th>
    <th>City</th>
    <th>Vatid</th>
    <th>Taxnumber</th>
    <th>Currency</th>
    <th>Bank</th>
    <th>Bank account number</th>
    <th>Bank sort code</th>
    <th>Country</th>
    <th>Telephone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoicing_parties.each do |invoicing_party| %>
  <tr>
    <td><%= invoicing_party.name %></td>
    <td><%= invoicing_party.co_line %></td>
    <td><%= invoicing_party.street %></td>
    <td><%= invoicing_party.post_code %></td>
    <td><%= invoicing_party.city %></td>
    <td><%= invoicing_party.vatid %></td>
    <td><%= invoicing_party.taxnumber %></td>
    <td><%= invoicing_party.currency %></td>
    <td><%= invoicing_party.bank %></td>
    <td><%= invoicing_party.bank_account_number %></td>
    <td><%= invoicing_party.bank_sort_code %></td>
    <td><%= invoicing_party.country %></td>
    <td><%= invoicing_party.telephone %></td>
    <td><%= invoicing_party.email %></td>
    <td><%= link_to 'Show', invoicing_party %></td>
    <td><%= link_to 'Edit', edit_invoicing_party_path(invoicing_party) %></td>
    <td><%= link_to 'Destroy', invoicing_party, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoicing party', new_invoicing_party_path %>
