<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @invoicing_party.name %>
</p>

<p>
  <b>Co line:</b>
  <%= @invoicing_party.co_line %>
</p>

<p>
  <b>Street:</b>
  <%= @invoicing_party.street %>
</p>

<p>
  <b>Post code:</b>
  <%= @invoicing_party.post_code %>
</p>

<p>
  <b>City:</b>
  <%= @invoicing_party.city %>
</p>

<p>
  <b>Vatid:</b>
  <%= @invoicing_party.vatid %>
</p>

<p>
  <b>Taxnumber:</b>
  <%= @invoicing_party.taxnumber %>
</p>

<p>
  <b>Currency:</b>
  <%= @invoicing_party.currency %>
</p>

<p>
  <b>Bank:</b>
  <%= @invoicing_party.bank %>
</p>

<p>
  <b>Bank account number:</b>
  <%= @invoicing_party.bank_account_number %>
</p>

<p>
  <b>Bank sort code:</b>
  <%= @invoicing_party.bank_sort_code %>
</p>

<p>
  <b>Country:</b>
  <%= @invoicing_party.country %>
</p>

<p>
  <b>Telephone:</b>
  <%= @invoicing_party.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @invoicing_party.email %>
</p>


<%= link_to 'Edit', edit_invoicing_party_path(@invoicing_party) %> |
<%= link_to 'Back', invoicing_parties_path %>
